@import "./mixins";
@import "./font";

:local(.className) {
    $thumbColor: #C8C8C8;
    $trackColor: transparent;
    $scrollbarSize: 8px;

    * {
        @include scrollbars($scrollbarSize, $thumbColor, $trackColor, true);
    }

    .logArea {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 200px;
        overflow: auto;
        background-color: white;
        border-top: 1px solid gray;
        display:none;
        z-index: 1000;
    }

    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}